body {
    background-color: #181058;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 2rem;
}

input {
    display: block;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    width: 100%;
    display: block;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #ec2b11;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e8a908;
}